<h3>Todos</h3>

<!-- New Todo Form -->
<form id="todo-form" data-ng-submit="newTodo()">
  <div class="row">
    <div class="large-6 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" placeholder="New task..." data-ng-model="workingTodo">
        </div>
        <div class="small-2 columns">
          <a href="#" class="button postfix">Add</a>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- List of Todos -->
<div
  class="panel"
  data-ng-repeat="todo in todos">
  {{ todo.name }} - {{ todo.completed }}
  <a
    class="button alert tiny" 
    data-ng-click="completeTodo(todo)" 
    data-ng-show="!(todo.completed)">x</a>
</div>